pip>=23.0
setuptools>=65.0
wheel>=0.38.4
tiktoken==0.5.1
langchain
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit
openai==0.27.6
#faiss-cpu==1.7.4
altair==4
tiktoken==0.4.0
streamlit_extras
spacy
google-generativeai
langchain_google_genai
nltk
wordcloud
faiss-cpu
grpcio
langchain-community
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
pdfkit
